@page "/auth"
@namespace OrderLagerSystem.Components.Pages
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@layout OrderLagerSystem.Components.Layout.MainLayout

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>