@page "/Account/InvalidUser"
@namespace OrderLagerSystem.Components.Account.Pages
@using OrderLagerSystem.Data
@layout OrderLagerSystem.Components.Account.Shared.AccountLayout

<PageTitle>Invalid user</PageTitle>

<h3>Invalid user</h3>

<StatusMessage />
